<div class="main-container">
  <div class="input-container">
    Enter 4 unique digits from 0 to 9 in any order. A bull means digit and its position is correct. A cow means digit is correct, but placed in a wrong position.
    <input id="guess" name="guess" class="form-control"
        [formControl]="guessedInput" placeholder="Guess the number.">
    <div *ngIf="guessedInput.invalid && (guessedInput.dirty || guessedInput.touched)"
        class="error">  
      <div *ngIf="guessedInput.errors">
        Your guess should be 4 unique digits from 0 to 9.
      </div>
    </div>
    
    <div class="button-view">
      <button class="guess-btn" (click)="submit()">Submit Answer</button>
      <button class="guess-restart" (click)="init()">Restart</button>
    </div>

    <span *ngIf="steps.length > 0 && steps[steps.length-1].result.bulls === 4">Congratulations!!!!!!!</span>
  </div>
  <div class="table-container">
    <table *ngIf='steps.length > 0'>
      <tr>
        <th>
          Step
        </th>
        <th>
          Guess
        </th>
        <th>
          Guess Result
        </th>
      </tr>
      <tr *ngFor="let step of steps; let i = index">
        <td>{{i+1}}</td>
        <td>{{step.guess}}</td>
        <td>
          {{step.result.bulls}} bulls {{step.result.cows}} cows
          <span *ngIf="step.result.bulls === 4">(win!)</span>
        </td>
      </tr>
    </table>
    <span *ngIf='steps.length === 0'> Result displayed here.</span>

  </div>
</div>